<div class="row">
    <h2 class="text-center mb-4">Mis datos de contacto</h2>


    <!-- Card para los datos de contacto -->
    <div class="col-md-6">
        <div class="card bg-dark text-white mb-4">
            <div class="card-body">
                <h3 class="card-title "></h3>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <i class="bi bi-envelope-fill" style="font-size: 1.5rem;"></i>
                        <a href="mailto:br.becerra.p@gmail.com" class="text-white"
                            style="font-size: 1.25rem;">br.becerra.p@gmail.com</a>
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
                        <a href="https://www.linkedin.com/in/bryan-becerra-p" target="_blank" class="text-white"
                            style="font-size: 1.25rem;">LinkedIn</a>
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-github" style="font-size: 1.5rem;"></i>
                        <a href="https://github.com/BryanBece" target="_blank" class="text-white"
                            style="font-size: 1.25rem;">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>